---
services:
  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.27.1 # <-- UPDATED AGAIN
    ports:
      - 8080:8080
      - 50051:50051
    restart: on-failure:0
    volumes:
      - ./weaviate_data:/var/lib/weaviate
    environment:
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none'
      ENABLE_MODULES: ''
      CLUSTER_HOSTNAME: 'node1'